
.divin {
  margin: 0; /* Remover margens padrão do corpo da página */
  padding: 0; /* Remover padding padrão do corpo da página */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Faz com que o corpo ocupe 100% da altura da viewport */
  background-image: url('../img/background/login_wallpaper.jpg'); /* Substitua pelo caminho real da sua imagem */
  background-size: cover; /* Cobrir toda a área com a imagem */
  background-position: center; /* Centralizar a imagem */
  background-repeat: no-repeat; /* Evitar repetição da imagem */
  font-family: Arial, sans-serif; /* Especificar a fonte desejada */
  color: #252222; /* Cor do texto na página */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #000000;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  border: solid 2px rgb(74, 9, 74);
  margin:auto;

}


.title {
  font-size: 28px;
  color: rgb(74, 9, 74);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rgb(74, 9, 74);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: rgb(74, 9, 74);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: left;
}

.signin a {
  color: rgb(74, 9, 74);
}

.signin a:hover {
  text-decoration: underline rgb(74, 9, 74);
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  border-radius: 150px;
  color: black;
  background-color: rgb(74, 9, 74);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}